.asciicorn {
  width: 17em;
  margin: 3rem auto 0;
  color: crimson;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3;
  @media (max-width: 520px) {
    font-size: 20px;
  }
}
.hidden {
  display: none;
}

.intro {
  margin-top: 2rem;
  text-align: center;
}

.btn.enter {
  display: inline-block;
  padding: 1em;
  color: crimson;
  text-decoration: none;
  border: solid transparent 2px;
  &:hover {
    border: dashed crimson 2px;
  }
}
